nav{

    background-color: rgb(80, 80, 75);
}
ul {
    display: inline-flex;
    list-style: none;

}

li {
    padding: 15px;
    margin: 15px;
    border: 1px solid;
    height: 20px;
    border-radius: 5px;
    background-color: black;
    box-shadow: 6px 5px 12px;


}
a{
    color: white;
    text-decoration: none;
}

li:hover{background-color: gray;

}